body {
    background: linear-gradient(#b5e48c, #457b9d) fixed;
}



.carte
{
	height:10%;
	width: 10%;
	max-width:150px;
	min-width:100px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background: lightblue;
	transition: 1s;
	margin:2%;
	filter: saturate(10%);
	border-radius: 10px;
	padding-bottom:10px;
}

.carte:hover
{
	height:10%;
	width: 10%;
	max-width:300px;
	min-width:200px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background: lightblue;
	/*transform: rotate(360deg);*/
	margin:2%;
	filter: saturate(100%);
	border-radius: 10px;
	font-size: 2rem;
}

.carte02
{
	height:10%;
	width: 10%;
	max-width:150px;
	min-width:100px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background: lightblue;
	transition: 1s;
	margin:2%;
	filter: saturate(10%);
	border-radius: 10px;
}

.carte02:hover
{
	height:10%;
	width: 10%;
	max-width:300px;
	min-width:200px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background: lightblue;
	margin:2%;
	filter: saturate(100%);
	border-radius: 10px;
	font-size: 2rem;
}

.carte03
{
	height:10%;
	width: 10%;
	max-width:150px;
	min-width:100px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background: lightblue;
	transition: 1s;
	margin:2%;
	filter: saturate(10%);
	border-radius: 10px;
	padding-bottom:5px;

}

.carte03:hover
{
	height:10%;
	width: 10%;
	max-width:300px;
	min-width:200px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background: lightblue;
	margin:2%;
	filter: saturate(100%);
	border-radius: 10px;
	font-size: 2rem;
}

.carte04
{
	height:10%;
	width: 10%;
	max-width:150px;
	min-width:100px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background: lightblue;
	transition: 1s;
	margin:2%;
	filter: saturate(10%);
	border-radius: 10px;
		padding-bottom:10px;
}

.carte04:hover
{
	height:10%;
	width: 10%;
	max-width:300px;
	min-width:200px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background: lightblue;
	margin:2%;
	filter: saturate(100%);
	border-radius: 10px;
	font-size: 2rem;
				
}

.carte05
{
	height:10%;
	width: 10%;
	max-width:150px;
	min-width:100px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background: lightblue;
	transition: 1s;
	margin:2%;
	filter: saturate(10%);
	border-radius: 10px;
}

.carte05:hover
{
	height:10%;
	width: 10%;
	max-width:300px;
	min-width:200px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background: lightblue;
	margin:2%;
	filter: saturate(100%);
	border-radius: 10px;
	font-size: 2rem;
}

.carte img
{
	width:100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);	
}

.carte02 img
{
	width:100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.carte03 img
{
	width:100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.carte04 img
{
	width:100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.carte05 img
{
	width:100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.flecheRetour img
{
	width:100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}



.elementCV
{
	padding: 10px;
	display: flex; 
	justify-content: center;
	color:black;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

}

.txtElementCV
{
	padding: 10px;
	display: flex; 
	justify-content: center;
	
}


h1
{
	font-size: max(3vw, 35px);
	/*pour centrer horizontalement*/
	display: flex; 
	justify-content: center;
	/*font-size: 5vw; /*5% responsiv largeur de l'ecran*/
}

/*Rem Em*  Fait référence au  font dans html  -- Em au parent du bloc*/

html
{
	font-size: 7px;
}

.bloc
{
	background : salmon;
	padding-bottom: 1px;
	height: auto;
	width: 400px;
	margin: 50px auto;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.bloc h3
{
	font-size: 3rem;
	padding: 1rem;
}

.bloc p
{
	font-size: 2rem;
	padding: 1rem;
}

.bloc span 
{
	font-size: 2rem;
	padding: 1rem;
}

.bloc button
{
	font-size: 2rem;
	padding: 1rem;
	display: block;
	margin: 1rem auto;
}

/*media screen permet d'adapter en fonction de la largeur de l'écran*/

h2
{
	text-align :center;
	font-size: 55px;
}

@media screen and (max-width:4000px)
{
	section
{
	display: flex;
	justify-content: center;
}

	h2
	{
		font-size: 40px;
	}
	
	/*flexbox grand ecran*/
	
.container
{
	width: 70%;
	height: 300px;
	background: crimson;
	display: flex; 
	justify-content: center;
	margin: 0 auto;
}

.item
{
	flex-grow: 1; /*partager l'espace entre vous*/
	width: 250px; /*empeche de reduire en dessous de 250px*/
	flex-shrink:0; /*reduit 0empeche*/
}

.item:nth-child(1)
{
	background: lightblue;
}

.item:nth-child(2)
{
	background: lightsalmon;
}

.item:nth-child(3)
{
	background: lightseagreen;
}

/*grid grand ecran*/

.grid
{
	margin: 50px auto;
	width:100%;
	height: 400px;
	background: crimson;
	display: grid;
	grid-template-columns: 1fr 300px 1fr 300px 1fr 300px 1fr ;
}

.item-grid:nth-child(1)
{
	grid-area: 1 / 2 / 2 / 3;
	background: lightblue;
}

.item-grid:nth-child(2)
{
	grid-area: 1 / 4 / 2 / 5;
	background: lightblue;
}

.item-grid:nth-child(3)
{
	grid-area: 1 / 6 / 2 / 7;
	background: lightblue;
}
}


@media screen and (max-width:1100px)
{
	h2
	{
		font-size: 30px;
		color:red;
	}
	
	/*flexbox mobile*/

.container
{
	width: 70%;
	height: 300px;
	background: crimson;
	display: flex; 
	flex-direction: column;
	align-items: center;
}

.item
{
	flex-grow: 1; /*partager l'espace entre vous*/
	width: 250px; /*empeche de reduire en dessous de 250px*/
	flex-shrink:0; /*reduit 0empeche*/
}

.item:nth-child(1)
{
	background: lightblue;
}

.item:nth-child(2)
{
	background: lightsalmon;
}

.item:nth-child(3)
{
	background: lightseagreen;
}

/*grid mobile*/

.grid
{

	width:100%;
	height: 400px;
	background: crimson;
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: repeat(3, 33.3%);
	justify-content: center;
}

.item-grid:nth-child(1)
{
	grid-area: 1 / 1 / 2 / 2;
	background: lightblue;
}

.item-grid:nth-child(2)
{
	grid-area: 2 / 1 / 3 / 2;
	background: lightsalmon;
}

.item-grid:nth-child(3)
{
	grid-area: 3 / 1 / 4 / 2;
	background: lightseagreen;
}
}

/*message qui defile*/
.marquee-rtl
{	max-width: 30em;
	margin: 1em auto 2em;
	border: 10px solid #F0F0FF;
	overflow: hidden;
	box-shadow: 0 .25em .5em #CCC, insert 0 0 1em .25em #CCC;
}

/* le bloc défilant */
.marquee-rtl > :first-child {
  display: inline-block;                /* modèle de boîte en ligne */
  padding-right: 2em;                   /* un peu d'espace pour la transition */
  padding-left: 100%;                   /* placement à droite du conteneur */
  white-space: nowrap;                  /* pas de passage à la ligne */
  animation: defilement-rtl 15s infinite linear;
}

@keyframes defilement-rtl {
  0% {
    transform: translate3d(0,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}

.flecheRetour
{
	height:10%;
	width: 10%;
	max-width:50px;
	min-width:50px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background: lightblue;
	transition: 1s;
	margin-left:75%;
	filter: saturate(10%);
	border-radius: 10px;	
	display: flex;
	justify-content: center;
}

.flecheRetour:hover
{
	height:10%;
	width: 10%;
	max-width:70px;
	min-width:70px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background: lightblue;
	transform: rotate(360deg);
	margin-left:74%;
	filter: saturate(100%);
	border-radius: 10px;
	font-size: 2rem;
}

.tableauInformation
{
	height:10%;
	width: 10%;
	max-width:4000px;
	min-width:1050px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background: lightblue;
	transition: 1s;
	margin:2%;
	filter: saturate(10%);
	border-radius: 10px;
}

.tableauInformation p
{
	font-size: 2rem;
	padding: 1rem;
}

.tableauInformation h3
{
	font-size: 2rem;
	padding: 1rem;
}

@media screen and (max-width:1100px)
{
.scrolling-wrapper
{
	overflow-x:scroll;
	overflow-y:hidden;
	white-space:nowrap;
}
.tableauInformation
{
	height:10%;
	width: 10%;
	max-width:370px;
	min-width:300px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background: lightblue;
	transition: 1s;
	margin:2%;
	filter: saturate(10%);
	border-radius: 10px;
}

.tableauInformation p
{
	font-size: 2rem;
	padding: 1rem;
}

.tableauInformation h3
{
	font-size: 2rem;
	padding: 1rem;
}

.carte
{
	margin-left:75%;
}
}









